@model RestaurantWebApplication.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FullName)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu.Item)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
