@model IEnumerable<RestaurantWebApplication.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.Item)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
